/*-------------------------------HEADER NAV--------------------------*/

#navigation{
  position:relative;
  left: 0;
  right:0;
}

#menu__logo{
  margin-left:8%;
  font-weight: bold;
  color: #7a7a7a;
}
  
.menu__item:before{ 
  background: #7a7a7a;
  }

.menu__item{
    background-image: linear-gradient(to right,#7a7a7a,#7a7a7a 50%,black 50%);
        }
    
.menu__item:before{ 
    background: #7a7a7a;
    }

.menu__text-title{
  display:none
  }

.header__form{
  display : none
}
  
  /*---------------------------REGISTER FORM-----------------------*/

.page-title{
    text-align: center;
    font-size: 3rem;
    padding: 2% 2%;
    background-color: whitesmoke;
    border-top: 1px solid black;
    border-bottom:1px solid black;
  }

.contact__form{
    display : felx;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color : whitesmoke;
    margin:5% 25%;
    padding: 3% 0;
    border: 1px solid black;
    border-radius: 3%;
  }

.contact__form-input{
  margin: 3% auto;
}

.contact__form-label{
  margin : 2% 2%;
}

.notAdminBtn{
  padding: 1% 2%;
}

.notAdmin{
  align-items: center;
  background-color : whitesmoke;
  margin:5% 25%;
  padding: 3% 0;
  border: 1px solid black;
  border-radius: 3%;  
  display: flex;
  justify-content: center;
}