/*---------------------------------------------------HEADER-----------------------------------------*/

/*-----------HEADER NAV----------*/

#menu__logo{
  color: #da5101;
  text-shadow: white 1px 0 10px;
}

.menu__item{

  background-image: linear-gradient(to right,#da5101,#da5101 50%,white 50%);
  }

.menu__item:before{ 
  background: #da5101;
  }

/*-----HEADER IMG----------*/

#header-banner{ 
  background-image: url(../img/destinations.png);
  background-repeat: no-repeat;
  background-size: cover;
  height:80vh;
}

/*--------HEADER TEXT/FORM------*/

.header__form{
  bottom: 40%;
  }

#btn{
  background-color:#db6927;
  }
  
#btn:hover{
  background-color: #e67c04;
  }

/*-----------------------------------------------------MAIN----------------------------------------------*/

.destination__title{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    height: 20vh;
    margin-bottom: 3%;
    background-color: whitesmoke;
    }

.destination__articles{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  }

.destination__article{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    margin: 2% 5%;
    border-radius: 5%;
    }

/*-------------------A REVOIR--------------------*/

.destination__article-back:hover{
  filter: grayscale(1) blur(3px);
  transform: scale(1.2);
  transition: all 0.4s ease-in;
}

.destination__article-front{
  

  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  text-transform: uppercase;
    }

.destination__article-front:hover{
  box-shadow: 0 0 5px #fff;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  }

/*-------------------A REVOIR--------------------*/











