/*---------------------------------------------------HEADER-----------------------------------------*/

/*-----------HEADER NAV----------*/

#menu__logo{
  color: #da5101;
  text-shadow: white 1px 0 10px;
}

.menu__item{

  background-image: linear-gradient(to right,#da5101,#da5101 50%,white 50%);
  }

.menu__item:before{ 
  background: #da5101;
  }

@media (max-width: 900px) {

  .destination__article{
  width:90%;
  }
  
  #menu__toggle {
    color: #da5101;
    text-shadow: white 1px 0 10px;
  }
  
  #menu__items {

    background-color:rgba(218, 81, 1, 0.4);
    border: 1px solid #ddd;
  }
}

/*-----HEADER IMG----------*/

#header-banner{ 
  background-image: url(../img/destinations.png);
  background-position:30% 30%;
}

/*--------HEADER TEXT/FORM------*/

#btn{
  color:whitesmoke;
  background-color:#db6927;
  }
  
#btn:hover{
  background-color: #e67c04;
  }

/*-----------------------------------------------------MAIN----------------------------------------------*/

.destination__title{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    height: 10vh;
    margin-bottom: 3%;
    color: white;
    text-shadow: black 1px 0 10px;
    background-color: #e67c04;
    }

.destination__articles{
  width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  }

.destination__article{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 5%;
  width: 35%;
  height: 10%;
  border: 0.5px solid whitesmoke;
  border-radius: 5%;
  overflow: hidden;
  }

.destination__article-img{
  border-radius: 5%;
  box-sizing: border-box;
  width: 100%;
  transition : 500ms;
    }

.destination__article-img:hover{
  transform: scale(1.2);
    }

.destination__article-text{
  position: absolute;
  font-weight: bold;
  font-size: 2.5rem;
  color: white;
  text-shadow: black 2px 0 10px;;
  text-align: center;
  bottom: 45%;
    }

@media (max-width: 900px) {
    .destination__article{
    width:90%;
    }
}


/*-----------------------------------FOOTER------------------------*/

.footer{
  background-color: #e67c04;
}







