/*---------------------------------------------------HEADER-----------------------------------------*/

/*-----------HEADER NAV----------*/

#menu__logo{
  color: #da5101;
  text-shadow: white 1px 0 10px;
}

.menu__item{

  background-image: linear-gradient(to right,#da5101,#da5101 50%,white 50%);
  }

.menu__item:before{ 
  background: #da5101;
  }

/*-----HEADER IMG----------*/

#header-banner{ 
  background-image: url(../img/destinations.png);
  background-repeat: no-repeat;
  background-size: cover;
  height:80vh;
}

/*--------HEADER TEXT/FORM------*/

.header__form{
  bottom: 40%;
  }

#btn{
  background-color:#db6927;
  }
  
#btn:hover{
  background-color: #e67c04;
  }

/*-----------------------------------------------------MAIN----------------------------------------------*/

.destination__title{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    height: 20vh;
    margin-bottom: 3%;
    background-color: whitesmoke;
    }

.destination__articles{
  width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  }

.destination__article{
    position:relative;
    justify-content: center;
    align-items: center;
    margin: 2% 5%;
    width: 40%;
    height: 10%;
    border: 1px black solid;
    }
    
.destination__article-back{

    }

.destination__article-front{
  padding: 2% 2%;
  font-size: 1.5rem;
    }


/*-------------------A REVOIR--------------------*/

.destination__article {
  position: relative;
}

.destination__article::before {
  background: #ff9800;
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s ease-in-out;
  z-index: -1;
}
  .destination__article:hover::before {
    transform: scaleX(1);
    transform-origin: right;
  }









