/*---------------------------------------------------HEADER-----------------------------------------*/

/*-----------HEADER NAV----------*/

#menu__logo{
    color: #ab5005;
  }

.menu__item{
    background-image: linear-gradient(to right,#e36803,#e36803 50%,white 50%);
    }

.menu__item:before{ 
    background: #e36803;
    }

@media (max-width: 900px) {
    .destination__article{
    width:90%;
    }
#menu__toggle {
    color: #ab5005;
    }
#menu__items {
    background-color:rgba(171, 80, 5, 0.5);
    border: 1px solid #ddd;
    }
  }

/*-----HEADER IMG----------*/

#header-banner{ 
    background-image: url(../img/favorites.png);
    background-position:30% 30%;
    height:40vh;
  }

@media (max-width: 900px) {
  #header-banner{ 
    height:40vh;
  }
}

/*--------HEADER TEXT/FORM------*/

.menu__text-title{
    display: none;
}


.header__form{
    display: none;
}

/*-----------------------------------------------------MAIN (no favorites)----------------------------------------------*/

.noFavorites{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% auto;
  }

.noFavorites__statut{
  font-size: 1.5rem;
  margin: 2% auto;
  }

.noFavorites__hotels-btn{
  background-color: #ab5005;
  color: white;
  font-size: 1.3rem;
  margin: 3% auto;
  padding: 1% 1%;
  border-radius: 2rem;
  }

.noFavorites__hotels-btn:hover{
  background-color: #e36803;
  }

@media (max-width: 900px) {
  .noFavorites{
    margin: 25% auto;
  }
}

/*-----------------------------------------------------MAIN (favorites)----------------------------------------------*/

.favorites__title{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    height: 10vh;
    color: white;
    text-shadow: black 1px 0 10px;
    background-color: #ab5005;
    }

.favorites {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
  }
  .hotel__article {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 35%;
    margin: 4% 5%;
    box-sizing: border-box;
    border-radius: 1rem;
}

.hotel__article-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hotel__article-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 3% 4%;
    background-color: rgba(255, 255, 255, 0.8); /* Fond blanc transparent */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; /* Aligner les éléments à gauche */
}

#hotel__article-name {
    white-space: nowrap;
    margin-bottom: 4%;
    font-style: italic;
    font-size: 2rem;
}

.hotel__article-footer {
    position: absolute;
    bottom: 10%; /* Placer le prix en bas */
    right: 3%; /* Placer le prix à droite */
}

#hotel__article-price {
    font-weight: bold;
    white-space: nowrap;
    font-size: 1.5rem;
}

.hotel__article-location {
    display: flex;
    align-items: center; /* Aligner les éléments verticalement */
}

#hotel__article-city,
#hotel__article-country {
    font-size: 1.3rem;
    margin-right: 8px; /* Ajouter un espace entre le pays et la ville */
}

.hotel__delete-btn {
    position: absolute;
    top: 3%;
    right: 2%;
    display: flex;
    color: black;
    background-color: rgba(253, 253, 253, 0.803);
    font-size: 1.2rem;
    padding: 2% 3.2%;
    border: none;
    border-radius: 3rem;
}

.hotel__delete-btn:hover {
    background-color: rgba(253, 253, 253, 1);
}

@media (max-width: 900px) {

  .hotel__article {
    width: 90%;
    margin: 8% 5% 1% 5%;
  }
  
  .hotel__article-front {
    height: 33%;
  }

  #hotel__article-country {
    font-size: 1.5rem;
  }

  #hotel__article-price {
    font-size: 1.5rem;
    margin-top: 2%;
    margin-right: 2%;
  }

  #hotel__article-read{
    display:none;
  }

}

/*-----------------------------------FOOTER------------------------*/

.footer{
  background-color: #ab5005;
}