/*---------------------------------------------------HEADER-----------------------------------------*/

/*-----------HEADER NAV----------*/

#menu__logo{
  color: rgb(99, 97, 97);
  text-shadow: white 1px 0 10px;
}

.menu__item{

  background-image: linear-gradient(to right,rgb(167, 161, 161),rgb(167, 161, 161) 50%,whitesmoke 50%);
  }

.menu__item:before{ 
  background: rgb(167, 161, 161);
  }
  
/*-----HEADER IMG----------*/
  
#header-banner{ 
  background-image: url(../img/flights.png);
  background-position:30% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  height:60vh;
}
  
/*--------HEADER TEXT/FORM------*/
  
.header__form{
  bottom:50%;
}
  
.menu__text-title{
  color:whitesmoke;
  text-shadow: black 1px 0 10px;
  }
  
#btn{
  color:whitesmoke;
  font-weight: bolder;
  background-color:rgb(129, 126, 126);
  }
    
#btn:hover{
  background-color: rgb(167, 161, 161);
  }
  
/*-----------------------------------------------------MAIN----------------------------------------------*/
  
.searchResult__title{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3% ;
  color: black;
  }
  

.searchResult__articles{
  margin: 5% 5%;
    }

.searchResult__article{
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    padding: 2% 2%;
    margin: 0.4% 0;
    background-color:rgb(218, 212, 212);
    border-radius: 1%;
    }
      
.searchResult__article:hover{
  background-color: rgb(182, 178, 178);
  }
      
.searchResult__article-element{
  }

#searchResult__article-destination{
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 0.4%;
  }

#searchResult__article-company{
  font-style:italic;
  }

#searchResult__article-day{ 
  }

#searchResult__article-time{
  }

.searchResult__btn{
  background-color: #db6927;
  padding:1% 2%;
  border-radius: 5%;
  }

.searchResult__btn:hover{
  background-color:#e67c04;
  padding:1% 2%;
  }