/*---------------------------------------------------HEADER-----------------------------------------*/

/*-----------HEADER NAV----------*/

#menu__logo{
  color: rgb(99, 97, 97);
  text-shadow: white 1px 0 10px;
}

.menu__item{

  background-image: linear-gradient(to right,rgb(167, 161, 161),rgb(167, 161, 161) 50%,whitesmoke 50%);
  }

.menu__item:before{ 
  background: rgb(167, 161, 161);
  }

@media (max-width: 767px) {

  #menu__toggle {
    color: rgb(99, 97, 97);
    text-shadow: white 1px 0 10px;
    }
  #menu__items {
    background-color:rgb(99, 97, 97, 0.6);
    border: 1px solid #ddd;
    }
}
  
/*-----HEADER IMG----------*/
  
#header-banner{ 
  background-image: url(../img/flights.png);
  background-position:30% 30%;
}
  
/*--------HEADER TEXT/FORM------*/
  
.menu__text-title{
  color:whitesmoke;
  text-shadow: black 1px 0 10px;
  top: 20%;
  }
  
#btn{
  color:whitesmoke;
  background-color:rgb(129, 126, 126);
  }
    
#btn:hover{
  background-color: rgb(167, 161, 161);
  }
  
/*-----------------------------------------------------MAIN------------------------------------------------*/

#title__noFlights{
  margin: 5% auto 2% auto;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  }

.noFlights__btn{
  display:flex;
  justify-content: center;
  margin-bottom: 2%;
}

#noflights__home-btn{
  font-size:1.5rem;
    text-align: center;
    padding: 2% 0;
    margin: 2% 1%;
    width: 18%;
    background-image:url(../img/flightClouds.png);
    border:1px white solid;
    border-radius: 1rem;
  }

.result-title{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  font-size: 3rem;
  background-color:rgb(168, 165, 165);
  color: white;
  text-shadow: black 1px 0 10px;
  margin-bottom: 3%;
  }

.searchResult__articles{
  margin-bottom: 3%;
}

.searchResult__article{
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    padding: 2% 2%;
    margin: 2% 5%;
    background-image:url(../img/flightClouds.png);
    background-size: cover;
    background-position: 50% 10%;
    border:1px white solid;
    border-radius: 1rem;
    }
      
.searchResult__article:hover{
  border:1px black solid;
  }

#searchResult__article-destination{
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 0.4%;
  }

#searchResult__article-company{
  font-style:italic;
  }

@media (max-width: 767px) {
  
  .result-title{
    font-size: 1.6rem;
    }

  .searchResult__articles{
    margin-top: 8%;
    }

  .searchResult__article{
    font-size: 1rem;
    padding: 5% 2%;
    margin: 3% 1%;
  }
}

/*-----------------------------------FOOTER------------------------*/

.footer{
    background-image: url(../img/flights.png);
    background-size: cover;
    background-position: 50% 70%;
}

#menu__logo-2 { 
 color: black;
text-shadow: none;
}




