body{
  min-height:100vh;
  position: relative;
}

/*-------------------------------HEADER IMG--------------------------*/

#header-banner{
  background-repeat: no-repeat;
  background-size: cover;
  height:60vh;
}

@media (max-width : 767px) {

  .menu__text-title{
    display:none;
  }

  #header-banner{
    height:40vh;
  }
}  

/*-------------------------------HEADER NAV--------------------------*/

#navigation{
  position:absolute;
  left: 5%;
  right: 5%;
  display: flex;
  text-align: center;
  align-items: center;
}

#menu__logo{
  font-size:1.5rem;
  font-weight: bold;
  padding: 1% 1%;
  width: 40%;
  text-align: center;
}

#menu__toggle{
  display:none;
}

.menu__item{
font-size:1.8rem;
margin:0 4%;
background-size: 200% 100%;
background-position: -100%;
display: inline-block;
padding: 5px 0;
position: relative;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
transition: all 0.3s ease-in-out;
  }

.menu__item:before{ 
  content: '';
display: block;
position: absolute;
bottom: -3px;
left: 0;
width: 0;
height: 3px;
transition: all 0.3s ease-in-out;
}

.menu__item:hover{
  background-position: 0;
  }

.menu__item:hover::before{
  width:100%;
  }

#signin{
  display:none;
  }

#login{
font-size:1.8rem;
padding: 1%;
margin: 0 2%;
border: white 1px solid;
border-radius: 54%;
}

#login:hover{
background-color:white;
}


#menu__logo-1 { 
  padding: 5% 1%;
  font-size: 230%;
  white-space: nowrap;
  text-transform:uppercase;
}

#menu__items{
  padding: 0 2%;
  width: 120%;
  font-size: 150%;
}

@media (max-width : 1500px) {
  
  #menu__logo-1 { 
      font-size: 3.3rem;
    }

  .menu__item, #login{
      margin: 0 3%;
      font-size: 1.7rem;
    }
  }

@media (max-width : 1400px) {

  #menu__logo-1 { 
      font-size: 3.1rem;
    }

  .menu__item, #login{
      margin: 0 3%;
      font-size: 1.6rem;
      }
  }

@media (max-width : 1300px) {

  #menu__logo-1 { 
      font-size: 2.9rem;
    }

  .menu__item, #login{
      font-size: 1.5rem;
      }
  }  

@media (max-width : 1200px) {

  #menu__logo-1{
      font-size: 2.7rem;
  }
  
  .menu__item, #login{
      margin: 0 2%;
  }
}

@media (max-width : 1100px) {
  #menu__logo-1{
      font-size: 2.5rem;
  }
  
  .menu__item, #login{
      font-size: 1.4rem;
  }
}

@media (max-width: 1000px) {
  #menu__logo-1{
    font-size: 2.2rem;
  }

  .menu__item, #login{
    font-size: 1.2rem;
  }
}

@media (max-width: 767px) {

  #menu__logo-1{
    font-size: 2.8rem;
  }

  #menu__toggle {
    max-height: 100%;
    position: relative;
    margin-top: -1.5%;
    display: block;
    font-size: 3rem;
    margin-left: auto;
    cursor: pointer;
  }
  
  #menu__items {
    display: none;
    position: absolute;
    width: 97%;
    right: 1%;
    left:1%;
    top:80%;
    padding: 13%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3.5% auto;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    height:29vh;
  }

  .menu__item{
    padding: 2.5% 5%;
    font-size: 1.5rem;
    border-bottom: 1px rgba(245, 245, 245, 0.7) solid;
    margin-top: 0.5%;
    padding-bottom: 3%;
    width: 40%;
  }

  #menu__item-destination{
    margin-top: 5%;
  }
  #menu__item-signin{
    margin-bottom: 4%;
    border: none;
  }
  #login {
    display: none;
  }
  #signin {
    display: block;
  }
}

@media (max-width: 600px) {
  #menu__items {
    padding: 0;
    height:30vh;
  }
}
/*-------------------------------------HEADER TEXT/FORM------------------------*/

.menu__text-title{
  position: absolute;
  top: 15%;
  left: 10%;
  bottom: 40%;
  font-size: 3rem;
  padding: 10% auto;
  text-align: center;
  text-shadow: white 1px 0 10px;
  }

.header__form {
    display: none;
    }

/*-----------------------------------MAIN------------------------*/

.content {
  padding-bottom: 5rem; 
}

/*-----------------------------------FOOTER------------------------*/

.footer{
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;  
}

#menu__logo-2 { 
  padding: 0 4%;
  font-size: 200%;
  white-space: nowrap;
  text-transform:uppercase;
}

.settings{
  position: absolute;
  top: 35%;
  right:3%;
  width: 1.5%;
  border-radius: 30%;
  border: 1px black solid;
 }

@media (max-width: 767px) {

  .footer{
    height: 3rem;  
  }

  #menu__logo-2 { 
    font-size: 130%;
  }

  .settings{
    width: 3%;
   }
}