/*-------------------------------HEADER IMG--------------------------*/

#header-banner{
  background-repeat: no-repeat;
  background-size: cover;
  height:60vh;
}

@media (max-width : 900px) {

  .menu__text-title{
    display:none;
  }
}  

/*-------------------------------HEADER NAV--------------------------*/

#navigation{
  position:absolute;
  left: 5%;
  right: 5%;
  display: flex;
  text-align: center;
  align-items: center;
}

#menu__logo{
  font-size:1.5rem;
  font-weight: bold;
  padding: 1% 1%;
  width: 40%;
  text-align: center;
}

#menu__toggle{
  display:none;
}

.menu__item{
font-size:1.8rem;
margin:0 4%;
background-size: 200% 100%;
background-position: -100%;
display: inline-block;
padding: 5px 0;
position: relative;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
transition: all 0.3s ease-in-out;
  }

@media (min-width: 901px) {
.menu__item:before{ 
  content: '';
display: block;
position: absolute;
bottom: -3px;
left: 0;
width: 0;
height: 3px;
transition: all 0.3s ease-in-out;
}

.menu__item:hover{
  background-position: 0;
  }

.menu__item:hover::before{
  width:100%;
  }
}

#login{
font-size:1.8rem;
padding: 1%;
margin: 0 2%;
border: white 1px solid;
border-radius: 54%;
}

#login:hover{
background-color:white;
}


#menu__logo-1 { 
  padding: 5% 1%;
  font-size: 230%;
  white-space: nowrap;
  text-transform:uppercase;
}

#menu__items{
  padding: 0 2%;
  width: 120%;
  font-size: 150%;
}

@media (max-width : 1500px) {
  
  #menu__logo-1 { 
      font-size: 3.3rem;
    }

  .menu__item, #login{
      margin: 0 3%;
      font-size: 1.7rem;
    }
  }

@media (max-width : 1400px) {

  #menu__logo-1 { 
      font-size: 3.1rem;
    }

  .menu__item, #login{
      margin: 0 3%;
      font-size: 1.6rem;
      }
  }

@media (max-width : 1300px) {

  #menu__logo-1 { 
      font-size: 2.9rem;
    }

  .menu__item, #login{
      font-size: 1.5rem;
      }
  }  

@media (max-width : 1200px) {

  #menu__logo-1{
      font-size: 2.7rem;
  }
  
  .menu__item, #login{
      margin: 0 2%;
  }
}

@media (max-width : 1100px) {
  #menu__logo-1{
      font-size: 2.5rem;
  }
  
  .menu__item, #login{
      font-size: 1.4rem;
  }
}

@media (max-width: 1000px) {
  #menu__logo-1{
    font-size: 2.2rem;
  }

  .menu__item, #login{
    font-size: 1.2rem;
  }
}

@media (max-width: 900px) {

  #menu__logo-1{
    font-size: 2.8rem;
  }

  #menu__toggle {
    position: relative;
    margin-top: -1.5%;
    display: block;
    font-size: 3rem;
    margin-left: auto;
    cursor: pointer;
  }
  
  #menu__items {
    display: none;
    position: absolute;
    width: 97%;
    right: 1.5%;
    left:1.5%;
    top:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    border-radius: 1rem;
    height:40vh;
  }

  .menu__item{
    padding: 5% 5%;
    font-size: 2rem;
  }

  .menu__item:hover{
    text-decoration: underline;
  }

  #menu__login {
    display: none;
  }
  
}

/*-------------------------------------HEADER TEXT/FORM------------------------*/

.menu__text-title{
  position: absolute;
    top: 30%;
    left: 10%;
    bottom: 40%;
    font-size: 3rem;
    padding: 10% auto;
    text-align: center;
    text-shadow: white 1px 0 10px;
  }

.header__form {
    display: none;
    }

/*-----------------------------------FOOTER------------------------*/

.footer{
  bottom:0%;
  margin-top:3%;
  padding-top: 0.2%;
  position: relative;
  color: white;
  text-shadow: black 1px 0 10px;
  display:flex;
  align-items: center;
}

#menu__logo-2 { 
  padding: 1% 4%;
  font-size: 200%;
  white-space: nowrap;
  text-transform:uppercase;
}

.settings{
  position: absolute;
  top: 35%;
  right:3%;
  width: 1.5%;
  border-radius: 30%;
  border: 1px black solid;
 }