/*-------------------------------HEADER NAV--------------------------*/

#navigation{
    position:absolute;
    left: 5%;
    right: 5%;
    display: flex;
    text-align: center;
    align-items: center;
  }
  
#menu__logo{
    font-size:1.5rem;
    font-weight: bold;
    color: #26860d;
    padding: 1% 1%;
    width: 40%;
    text-align: center;
  }

.menu__item{
font-size:1.8rem;
margin:0 4%;
background-image: linear-gradient(
    to right,
    #26a706,
    #26860d 50%,
    white 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
    }

.menu__item:before{ 
    content: '';
  background: #26860d;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.menu__item:hover{
    background-position: 0;
    }

.menu__item:hover::before{
    width:100%;
    }

#login{
  font-size:1.8rem;
  padding: 1%;
  margin: 0 2%;
  border: white 1px solid;
  border-radius: 54%;
  }

#login:hover{
  background-color:white;
  }

  
#menu__logo-1 { 
    padding: 5% 1%;
    font-size: 230%;
    white-space: nowrap;
    text-transform:uppercase;
  }
  
#menu__items{
    padding: 0 2%;
    width: 120%;
    font-size: 150%;
  }

@media (max-width : 1500px) {
    
    #menu__logo-1 { 
        font-size: 3.3rem;
      }

    .menu__item, #login{
        margin: 0 3%;
        font-size: 1.7rem;
      }
    }

@media (max-width : 1400px) {

    #menu__logo-1 { 
        font-size: 3.1rem;
      }

    .menu__item, #login{
        margin: 0 3%;
        font-size: 1.6rem;
        }
    }

@media (max-width : 1300px) {

    #menu__logo-1 { 
        font-size: 2.9rem;
      }

    .menu__item, #login{
        font-size: 1.5rem;
        }
    }  

@media (max-width : 1200px) {
  
    #menu__logo-1{
        font-size: 2.7rem;
    }
    
    .menu__item, #login{
        margin: 0 2%;
    }
}
  
  @media (max-width : 1100px) {
    #menu__logo-1{
        font-size: 2.5rem;
    }
    
    .menu__item, #login{
        font-size: 1.4rem;
    }
  }

/*-------------------------------------HEADER TEXT/FORM------------------------*/

.menu__text-title{
  position: absolute;
    top: 30%;
    left: 10%;
    bottom: 40%;
    font-size: 3rem;
    padding: 10% auto;
    text-align: center;
    text-shadow: white 1px 0 10px;
  }

.header__form{
    bottom: 50%;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10%;
    font-size: 1.3rem;
    padding: 1.5% 6%;
    padding-left: 5%;
    border-radius: 0.5rem;
    color:black;
    text-align: center;
    background-color: rgba(245, 248, 243, 0.8);
  }

  
#destination{
    cursor: pointer;
    outline: none;
    text-align: center;
    padding: 1% 1%;
    border-radius: 1rem;
    overflow: hidden;
    background-color: transparent;
    border: none;
    margin:1% 2%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: linear-gradient(to bottom, #f9f9f9, #e3e3e3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  #budget {
    margin: 1% 2%;
    height: 0.3rem;
    width: 6rem;
    -webkit-appearance: none;
    appearance: none;
    background: whitesmoke;
    border-radius: 1rem;
  }

.selectPlaceholder{
  text-align: center;
  font-size: 1.3rem;
}

  #btn{
    font-size: 1.3rem;
    margin-left:5%;
    padding: 2% 2%;
    border: none;
    border-radius: 1rem;
    background-color:#26860d;
  }

  #btn:hover{
    background-color: #26a706;
  }

/*-----------------------------------FOOTER------------------------*/

.footer{
  bottom:0%;
  margin-top:3%;
  padding-top: 0.2%;
  position: relative;
  color: white;
  text-shadow: black 1px 0 10px;
  display:flex;
  align-items: center;
}

#menu__logo-2 { 
  padding: 1% 4%;
  font-size: 200%;
  white-space: nowrap;
  text-transform:uppercase;
}

.settings{
  position: absolute;
  top: 35%;
  right:3%;
  width: 1.5%;
  border-radius: 30%;
  border: 1px black solid;
 }