/*-------------------------------HEADER IMG--------------------------*/

#header-banner{
    background-image: url(../img/frog.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    color: white;
  }


@media (max-width : 1000px) {
    #header-banner {
        width: 100vw;
        background-size: contain;
    }
}  

/*-------------------------------HEADER TEXT TITLE / FORM--------------------------*/

.menu__text-title{
    top: 45%;
  }

.header__form{
  bottom: 20%;
  }

  #btn{
  background-color:#26860d;
  }

  #btn:hover{
  background-color: #26a706;
  }

/*-----------------------------------------FOOTER-----------------------------------*/

.footer{
  display:none;
  }