/*-------------------------------HEADER IMG--------------------------*/

#header-banner{
    background-image: url(../img/frog.png);
    background-position: 50% 50%;
    height:100vh;
    color: white;
  }

/*-------------------------------HEADER TEXT TITLE / FORM--------------------------*/

.menu__text-title{
    top: 45%;
  }

.header__form{
  bottom: 20%;
  }

  #btn{
  background-color:#26860d;
  }

  #btn:hover{
  background-color: #26a706;
  }

@media (max-width: 900px) {

  .header__form{
    bottom: 5%;
    display: flex;
    flex-direction: column;
    width: 50%;
    left: 25%;
    right:25%;

  }
}

/*-----------------------------------------FOOTER-----------------------------------*/

.footer{
  display:none;
  }