/*---------------------------------------------------HEADER-----------------------------------------*/

/*-----------HEADER NAV----------*/

#menu__logo{
    color: whitesmoke;
  }

.menu__item{

    background-image: linear-gradient(to right,#3dabeb,#3dabeb 50%,white 50%);
    }

.menu__item:before{ 
    background: #3dabeb;
    }

/*-----HEADER IMG----------*/

#header-banner{ 
    background-image: url(../img/hotels.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:80vh;
    color: white;
  }

/*--------HEADER TEXT/FORM------*/

.menu__text-title{
    bottom: 40%;
    text-shadow: black 1px 0 10px;
}


.header__form{
    bottom: 40%;
    }

#btn{
    background-color:#1c96dd;;
    }
    
#btn:hover{
    background-color: #3dabeb;
    }

/*-----------------------------------------------------MAIN----------------------------------------------*/

.hotel__articles{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    }

.hotel__title{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    height: 20vh;
    margin-bottom: 3%;
    background-color: whitesmoke;
    }

.hotel__article{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 35%;
    padding: 2% 2%;
    margin: 4% 5%;
    border-radius: 2%;
    }

.hotel__article:hover{
    background-color: rgba(61,171,235, 0.5);
    }

#hotel__article-name{
    font-style: italic;
    font-size: 3rem;
    margin:1%;
}

#hotel__article-country{
    font-size: 1.8rem;
}

#hotel__article-presentation{
    margin: 2% 0;
    font-size: 1.3rem;
}

.hotel__article-location, .hotel__article-rate{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2% 2%;
    flex-direction: row;
    }

.hotel__article-image{
    width:500px;
    height: 250px;
    }

.hotel__article-image img{
    width:100%;
    height:auto
    }

.hotel__article-location, .hotel__article-rate{
    white-space: nowrap;
    }

.hotel__article-element{
    padding: 0 2%;
    font-size: 1.5rem;
    text-align: center;
    } 

#hotel__article-price{
    background-color: whitesmoke;
    border: 1px black solid;
    font-size: 1.5rem;
    margin: 1% 5%;
    margin-top: 5%;
    padding: 5% 5%;
    border-radius: 30%;
    } 

#hotel__article-review{
    font-size: 1.3rem;
    margin: 1% 5%;
    margin-top: 5%;
    }