/*---------------------------------------------------HEADER-----------------------------------------*/

/*-----------HEADER NAV----------*/

#menu__logo{
    color: whitesmoke;
  }

.menu__item{
    background-image: linear-gradient(to right,#3dabeb,#3dabeb 50%,white 50%);
    }

.menu__item:before{ 
    background: #3dabeb;
    }

/*-----HEADER IMG----------*/

#header-banner{ 
    background-image: url(../img/hotels.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:60vh;
  }

/*--------HEADER TEXT/FORM------*/

.menu__text-title{
    bottom: 40%;
    color:whitesmoke;
    text-shadow: none;
}

#btn{
    color:whitesmoke;
    background-color:#1c96dd;;
    }
    
#btn:hover{
    background-color: #3dabeb;
    }

/*-----------------------------------------------------MAIN----------------------------------------------*/

.hotel__title{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    height: 10vh;
    margin-bottom: 3%;
    color: white;
    text-shadow: black 1px 0 10px;
    background-color: #3dabeb;
    }

.hotel__articles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .hotel__article {
    position: relative;
    overflow: hidden;
    height: 100%;/*----A DEFINIR------*/
    width: 35%;
    margin: 4% 5%;
    box-sizing: border-box;
    border-radius: 5%;
  }

  .hotel__article-image {
    width: 100%;
    height:100%;
    height: auto;
    object-fit: cover;
  }
  
  .hotel__article:hover .hotel__article-front .hidden {
    display: flex;
  }
  
  .hotel__article-front {
    position: absolute;
    width: 100%;
    height: 25%;
    background-color: rgba(245, 245, 245, 0.8);
    bottom: 0;
    padding: 3% 4%;
    transition: 500ms;
  }
  
  .hotel__article:hover .hotel__article-front {
    height: 45%;
  }
  
  .visible {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .hidden {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 4% 35% 0 35%;
    padding: 2% 2%;
    background-color: #1c96dd;
    color: white;
    border-radius: 10%;
    font-size: 1.5rem;
    white-space: nowrap;
  }
  
  #hotel__article-name {
    white-space: nowrap;
    margin-bottom: 4%;
    font-style: italic;
    font-size: 2rem;
  }
  
  #hotel__article-price {
    flex-grow: 1;
    font-weight: bold;
    white-space: nowrap;
    text-align: right;
  }

/*------------------------------SEE MORE HOTELS------------------------*/

.load-more{
  display:flex;
  justify-content: center;
  margin:2% 0 5% 0;
}

.load-more-button{
  border:none;
  color: #1c96dd;
  font-size: 1.5rem;
  background-color: white;
}

.load-more-button::after {
  content: "\2193";
  display: block;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.load-more-button:hover::after {
  opacity: 1;
}

/*-----------------------------------FOOTER------------------------*/

.footer{
  background-color: #3dabeb;
}