/*---------------------------------------------------HEADER-----------------------------------------*/

/*-----------HEADER NAV----------*/

#menu__logo{
    color: white;
  }
  
  .menu__item{
  
    background-image: linear-gradient(to right,#c0bcb9,#c0bcb9 50%,white 50%);
    }
  
  .menu__item:before{ 
    background: #c0bcb9;
    }

@media (max-width: 767px) {
  
  #menu__toggle {
    color: white;
  }
  #menu__items {
    margin-top: 6%;
    background-color:rgba(245, 248, 243, 0.5);
    width: 60%;
    padding: 13% 0;
    }
}

@media (max-width: 600px) {
  #menu__items {
    height: 29vh;
    width: 83%;
  }
}
  
/*-----HEADER IMG----------*/
  
  #header-banner{ 
    background-image: url(../img/login.png);
    height:100vh;
    background-position:50% 30%;
  }

/*-------------------------------------HEADER TEXT/FORM------------------------*/

  .menu__text-title{
    display:none
    }
  
/*-----------------------------------------------------MAIN----------------------------------------------*/

.content {
  padding-bottom: 0rem; 
}

.container{
  position: absolute;
  width: 20vw;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
} 

  .login__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    padding: 3% 4% 0 4%;
    text-align: center;
    background-color: rgba(245, 248, 243, 0.5);
    border-radius: 3%;
  }

  .login__form-label{
    margin: 7% 0;
  }
 
  .login__form-input{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding: 5% 5%;
  }

  .login__form-btn{
    font-size: 1.5rem;
    color: whitesmoke;
    text-align: center;
    padding: 1% 3%;
    margin: 7% 35%;
    background-color: rgba(245, 248, 243, 0.7);
    text-shadow:black 1px 0 10px;
    border-radius: 10%;
    transition: 300ms;
    }

  .login__form-btn:hover{
    background-color:rgba(226, 124, 7, 0.5);
  }

@media (max-width: 767px) {
  
  .container{
    width: 54%;
    top: 45%;
    } 
  } 

@media (max-width: 600px) {
  .container{
    width: 75%;
    top: 42%;
  }
}
 
/*-----------------------------------------FOOTER-----------------------------------*/

.footer{
  display:none;
  }