
/*---------------------------------------------------HEADER-----------------------------------------*/

/*-----------HEADER NAV----------*/

#menu__logo{
    font-size:1.5rem;
    font-weight: bold;
    color: rgba(13, 65, 134, 1);
    padding: 1% 1%;
    width: 40%;
    text-align: center;
    text-shadow: white 1px 0 10px;
  }

  .menu__item{

    background-image: linear-gradient(to right,#236ccc,#236ccc 50%,rgba(13, 65, 134, 1) 50%);
    }
  
.menu__item:before{ 
  background: #236ccc;
  }

@media (max-width: 900px) {
  
  #menu__toggle {
    color: rgba(13, 65, 134, 1);
    text-shadow: white 1px 0 10px;
    }
  #menu__items {
    background-color:rgba(245, 245, 245, 0.4);
    border: 1px solid rgba(13, 65, 134, 1);
  }
}
  

/*-----HEADER IMG----------*/

#header-banner{ 
    background-image: url(../img/destination.png);
    background-position:30% 30%;
    color: white;
  }

/*--------HEADER TEXT/FORM------*/

.header__form{
   bottom: 50%;
  }

#btn{
  color:whitesmoke;
  font-weight: bolder;
  background-color:#236ccc;
  }
    
#btn:hover{
  background-color: #0d4186
  }

/*-----------------------------------------------------MAIN----------------------------------------------*/

.destination__title{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: 10vh;
  margin-bottom: 3%;
  color: white;
  text-shadow: black 1px 0 10px;
  background-color: #236ccc;
  }

.destination__article{
    display: flex;
    margin: 2% 10%;
    border: 1px solid black;
    border-radius: 1rem;
    }

.destination__article-right{
    width: 50%;
    }

.destination__article-right-img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    }

.destination__article-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 5%;
    font-size: 1.2rem;
    width: 50%;
}

.destination__article-left-description{
    font-size: 1.5rem;
    margin-bottom: 10%;
}

.destination__article-left-btn{
    color: whitesmoke;
    font-size: 1rem;
    padding: 3% 3%;
    margin: 0 25%;
    background-color:#236ccc;
    border-radius: 1rem;
}

.destination__article-left-btn:hover{
  background-color:#0d4186;
}

/*-----------------------------------FOOTER------------------------*/

.footer{
  background-color: #236ccc;
}