/*---------------------------------------------------HEADER-----------------------------------------*/

/*-----------HEADER NAV----------*/

#menu__logo{
    font-size:1.5rem;
    font-weight: bold;
    color: #8b20bd;
    padding: 1% 1%;
    width: 40%;
    text-align: center;
    text-shadow: white 1px 0 10px;
  }
  
.menu__item{
  background-image: linear-gradient(to right,#8b20bd,#8b20bd 50%,white 50%);
  }
  
.menu__item:before{ 
  background: #8b20bd;
  }
  

/*-----HEADER IMG----------*/

#header-banner{ 
    background-image: url(../img/oneHotel.png);
    background-position:53% 53%;
    background-repeat: no-repeat;
    background-size: cover;
    height:60vh;
    color: white;
  }

/*--------HEADER TEXT/FORM------*/

.header__form{
   bottom: 50%;
  }

#btn{
  color:whitesmoke;
  font-weight: bolder;
  background-color:#8b20bd;
  }
    
#btn:hover{
  background-color: #a632db;
  }

/*-----------------------------------------------------MAIN----------------------------------------------*/

.hotel__title{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: 10vh;
  margin-bottom: 3%;
  color: white;
  text-shadow: black 1px 0 10px;
  background-color: #8b20bd;
  }

.hotel__article{
    display:flex;
    justify-content: center;
    text-align: center;
    margin: 5% 10%;
    }

/*---------------------SLIDER---------------------*/

.sliderAndNav {  /*   Vue des images + navigation   */
    width: 60%;
    margin-right: 5%;
    position: relative;
  }
  .slider { /*   La vue des images  */
    width: 800px;
    height: 600px;
    overflow: hidden;
    border-radius: 5%;
  }
  .images { /*   Les images  */
    display: flex;
    flex-direction:row;
    -webkit-transition: 1s all;
    transition: 1s all;
  }

  .images img { /*  L'image seule */
    width: 800px;
    height: 600px;
    border-radius: 5%;
  }

  .nav {  /*   navigation  */
    position: absolute;
    width: 100%;
    bottom: 10%;
    text-align: center;
  }
  .nav a { /*   boutons de navigation (carrés)  */
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
            box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);;
    width: 15px;
    height: 15px;
    margin: 0 3px;
  }
  .nav a:hover {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
            box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
  }

  #imgR:target .images {  /*   transition entre les diapos  */
    -webkit-transform: translateX(-800px);
            transform: translateX(-800px);
  }

  #imgP:target .images {
    -webkit-transform: translateX(-1600px);
            transform: translateX(-1600px);
  }

/*---------------------TEXT---------------------*/

.hotel__text{
    width:40%;
    display:flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    margin: 2%;
    }

.hotel__text-title{
    font-size: 3rem;
    font-style: italic;
    margin-bottom: 2%;
    white-space: nowrap;
    }

.hotel__text-city, .hotel__text-country{
    display: inline-block;
    margin-bottom: 7%;
    }

.hotel__text-city{
    font-size: 1.5rem;
    margin-right: 0.5%;
    }

.hotel__text-country{
    font-size: 1.7rem;
    }

.hotel__article-description{
    font-size: 1.3rem;
    margin-bottom: 10%;
}

.hotel__article-booking{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  font-size: 1.3rem;
  margin-bottom: 9%;
}

#hotel__article-booking-rooms, #hotel__article-booking-favorite{
  padding: 2% 4%;
  background-color: #eaeaea;
  position: relative;
  transition: 300ms;
}

#hotel__article-booking-rooms:hover, #hotel__article-booking-favorite:hover{
  color:transparent;
  }

#hotel__article-booking-rooms::after, #hotel__article-booking-favorite::after{
  position: absolute;
  left: 50%;
  color: #a632db;
  font-size: 1.5rem;
  opacity: 0;
  transition: 300ms;
  }

#hotel__article-booking-rooms::after{
  content: '\1F6CF';
  top: 35%;
  }
  
#hotel__article-booking-favorite::after {
  content: '\2665';
  top: 50%;
  }

#hotel__article-booking-rooms:hover::after, #hotel__article-booking-favorite:hover::after{
  transform: translate(-50%, -50%);
  opacity: 1;
}

.hotel__article-rate{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  font-size: 2rem;
  padding: 1% 1%;
  margin: 0 2%;
}

#hotel__article__rate-price, #hotel__article__rate-review{
  padding: 2% 2%;
}

#hotel__article__rate-price{
  color: whitesmoke;
  border: 2px solid whitesmoke;
  background-color: #8b20bd;
  border-radius: 25%;
  margin: 0 2%;
}

/*-----------------------------------------------------NOTIFICATION------------------------------------------------*/

.notification{
  display:none
}

.notification-visible{
  position:fixed;
  top:0;
  left:0;
  right:0;
  display: block;
  text-align: center;
  text-align: center;
  padding: 1% 0;
  background-color: rgb(243, 106, 106);
}

.notification-close {
  position: absolute;
  top: 25%;
  right: 3%;
  padding: 0 1%;
  font-size: 1.5rem;
  cursor: pointer;
}

.notification-close:hover {
  color:white;
}

/*-----------------------------------FOOTER------------------------*/

.footer{
  background-color: #8b20bd;
}