/*---------------------------------------------------HEADER-----------------------------------------*/

/*-----------HEADER NAV----------*/

#menu__logo{
    color: white;
  }
  
  .menu__item{
  
    background-image: linear-gradient(to right,#66a2f0,#66a2f0 50%,white 50%);
    }
  
  .menu__item:before{ 
    background: #66a2f0;
    }
  
/*-----HEADER IMG----------*/
  
  #header-banner{ 
    background-image: url(../img/register.png);
    background-position:30% 30%;
    height:100vh;
  }

/*-------------------------------------HEADER TEXT/FORM------------------------*/

  .menu__text-title{
    display:none
    }
  
  .header__form{
    display : none
  } 
  
/*-----------------------------------------------------MAIN----------------------------------------------*/
.container {
  position: absolute;
  width: 60vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.register__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.register__form-row {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

#form-email{ 
  width: 80%;
  margin: 0 auto;
  padding: 5%;
  justify-content: center;
}

.register__form-element {
  margin: 3%;
  width: 40%;
}

.register__form-input {
  width: 100%;
  padding: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register__form-btn {
  font-size: 1.5rem;
  color: whitesmoke;
  text-align: center;
  padding: 10px 20px;
  background-color: rgba(245, 248, 243, 0.7);
  text-shadow: 1px 1px 2px black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register__form-btn:hover {
  background-color: rgba(226, 124, 7, 0.7);
}

/*-----------------------------------------FOOTER-----------------------------------*/

.footer{
  display:none;
  }