<%- include('partials/header') %>
<link rel="stylesheet" href="/css/contactStyle.css">

<h1 class="contact-title">Contact us !</h1>

<form class="contact-form">
    <div class="form-group">
      <label class="form-label" for="familyName">Family Name</label>
      <input class="form-input" type="text" id="familyName" name="familyName" required>
    </div>
    <div class="form-group">
      <label class="form-label" for="firstName">First Name</label>
      <input class="form-input" type="text" id="firstName" name="firstName" required>
    </div>
    <div class="form-group">
      <label class="form-label" for="email">Email:</label>
      <input class="form-input" type="email" id="email" name="email" required>
    </div>
    <div class="form-group">
      <label class="form-label" for="message">Message:</label>
      <textarea class="form-message" id="message" name="message" required></textarea>
    </div>
    <div class="form-group">
      <button class="submit-btn">Send</button>
    </div>
</form>

<%- include('partials/footer') %>