<%- include('partials/header') %>
<link rel="stylesheet" href="/css/flightsCompaniesStyle.css">

<h1 class="companies__title">Flight Companies</h1>

<% for(let flight of results) { %>

    <a class="companies__article" href="/destination/<%= flight.id %>">
        <h1><%= flight.company %></h1>
    </a>
    <% } %>

<%- include('partials/footer') %>