<%- include('partials/header') %>
<link rel="stylesheet" href="/css/authentificationStyle.css">

<div class="container">
    <form class="login" action="/connect" method="POST">
        <div class="login__form">
            <label class="login__form-label" for="email">Email</label>
            <input class="login__form-input" type="email" id="email" name="email" placeholder="email@domain.com">

            <label class="login__form-label" for="password">Mot de passe</label>
            <input class="login__form-input" type="password" id="password" name="password" placeholder="*********">

            <input class="login__form-btn" type="submit" value="Login">

            <a class="login__form-input" href="/registration">No account ?</a>
        </div>
    </form>
</div>

<%- include('partials/footer') %>