<%- include('partials/header') %>
<link rel="stylesheet" href="/css/registerStyle.css">

<div class="container">
    <form class="register" action="/register" method="POST">
      <div class="register__form">
        <div class="register__form-row">
          <div class="register__form-element">
            <label class="register__form-label" for="surname">Surname</label>
            <input class="register__form-input" type="text" id="surname" name="surname" placeholder="John">
          </div>
          <div class="register__form-element">
            <label class="register__form-label" for="lastname">Lastname</label>
            <input class="register__form-input" type="text" id="lastname" name="lastname" placeholder="Smith">
          </div>
        </div>
        <div class="register__form-row">
          <div id="form-email" class="register__form-element">
            <label class="register__form-label" for="email">Email</label>
            <input  class="register__form-input" type="email" id="email" name="email" placeholder="email@domain.com">
          </div>
        </div>
        <div class="register__form-row">
          <div class="register__form-element">
            <label class="register__form-label" for="password">Mot de passe</label>
            <input class="register__form-input" type="password" id="password" name="password" placeholder="*********">
          </div>
          <div class="register__form-element">
            <label class="register__form-label" for="confirmPassword">Confirmer le mot de passe</label>
            <input class="register__form-input" type="password" id="confirmPassword" name="confirmPassword" placeholder="*********">
          </div>
        </div>
        <div class="register__form-row">
          <input class="register__form-btn" type="submit" value="REGISTER">
        </div>
      </div>
    </form>
  </div>
  

<%- include('partials/footer') %>