<%- include('partials/header') %>
<link rel="stylesheet" href="/css/submitStyle.css">

<div class="thanks">
    <h1>Thank you for your message <%= firstName %> !</h1>
    <h1>Our team will get back to you as soon as possible</h1>
    <a id="home" href="/">Home</a>
</div>

<%- include('partials/footer') %>